<h4 class="card-title"><%= gravatar_for(@message.user, size: 40)%> <%= @message.user.name %></h4>
<h6 class="card-subtitle mb-2 text-muted"><%= localtime @message.created_at %></h6>
<div class="card-text"><%= simple_format @message.content %></div>