<div class="messages-list">
  <ul>
    <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
  </ul>
</div>
<form class="new_message">
  <input name="conversation_id" type="hidden" value="<%= conversation.id  %>">
  <input name="user_id" type="hidden" value="<%= user.id  %>">
  <div class="form-group">
    <textarea class="form-control" name="body"></textarea>
  </div>
  <input type="submit" class="btn btn-success" value="Send">
</form>